{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Import City Report
{% endblock %}

{% block body %}

    <div id="top" class="row">
        <div class="page-header">
            <h2>Import City Report <span class="glyphicon glyphicon-import" aria-hidden="true"></span> </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('cityreport_import') }}">Run another import</a>
        </div>
        <div class="col-md-12">
            <h3>Results</h3>
            {{ results }}
        </div>
    </div>

{% endblock %}